#banner {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
h2{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	margin-bottom: .25em;
}
p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	margin-top: .25em;
}
#exps{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

#Me{
	width:30%;
	float: left;
	margin-right: 25px;
}
.picLabel{
	position: relative;
	display: inline-block;
	width: 15%;
}
.picLabel img{
	border-radius: 8%;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	top:0;
	left:0;
}
.picLabel h3{
	position: absolute;
	top:0;
	left:1em;

}
.picLabel p{
	position: absolute;
	width: 100%;
	top:4em;
	left:0;
	font-size: 1em;
	
}
.hidden {
	visibility: hidden;
}