#banner {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
h2{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	margin-bottom: .25em;
}
p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	margin-top: .25em;
}
#exps{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

#Me{
	width:30%;
	float: left;
	margin-right: 25px;
}
.picLabel{
	position: relative;
	display: inline-block;
}
.picLabel img{
	width: 350px;
	border-radius: 8%;
	background-repeat: no-repeat;
}
.picLabel h3{
	position: absolute;
	font-size: 2.2em;
	margin-top: -9.8em;
	margin-left: .4em;
}
.picLabel p{
	position: absolute;
	font-size: 2em;
	margin-top: -5em;
	margin-left: 2em;
}
.hidden {
	visibility: hidden;
}