#banner {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
h2{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	margin-bottom: .25em;
}
p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	margin-top: .25em;
}
#exps{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
#exps img{
	display: inline-block;
	width: 15%;
	background-repeat: no-repeat;
}